*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#intro-popup.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
